<%- include("partials/header"); %>

<main role="main">

	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Hello!</h1>
			<p>This is a simple project I created in order to practice ejs and express.js.</p>
			<p><a class="btn btn-dark btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
		</div>
	</div>
	<br/>
</main>

<div class="col-md-6">
	<% posts.forEach(function(post) { %>
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<h3 class="mb-0"><%= post.postTitle %> </h3>
				<div class="mb-1 text-muted"><%= post.postDate %> </div>
				<p class="card-text mb-auto"><%= post.postBody.substring(0,50) + "... " %></p>
				<a href="/entry/<%=post.postTitle%>" class="stretched-link"> Read More</a>
			</div>
		</div>
	<% }); %>  
</div>

<%- include("partials/footer"); %>
