<%- include("partials/header"); %>

<h1 class="mb-0"> <%= postTitle %> </h1>
<br/>
<p class="mb-1 text-muted"> <%= postDate %> </p>
<br/>
<p class="card-text mb-auto">  <%= postBody %> </p>

<%- include("partials/footer"); %>
